html,
body {
	margin: 0px;
	height: 100%;
}

#sidebar {
	grid-area: sidebar;
	overflow-y: scroll;
}

#content {
	grid-area: content;
}

.header {
	grid-area: header;
	font-family: Helvetica, sans-serif;
}

.footer {
	grid-area: footer;
}

.sideBarItem {
	max-height: 50px;
	max-width: 50px;
	padding: 5px;
}

.sideBarItem img {
	max-height: 50px;
	max-width: 50px;
	user-select: none;
}

.colourPalette {
	grid-area: colourP;
	display: flex;
	flex-direction: grid;
	flex-flow: wrap;
}

.options {
	grid-area: options;
	padding: 15px;
}

.colourSwatches {
	box-sizing: border-box;
	width: 40px;
	height: 40px;
	max-height: 40px;
	max-width: 40px;
	margin: 5px;
}

.wrapper {
	display: grid;
	height: 100%;
	grid-template-columns: 70px 230px minmax(500px, 1fr);
	grid-template-rows: 35px minmax(500px, 1fr) 160px;
	grid-template-areas:
	"header header header"
	"sidebar content content"
	"colourP colourP options";
	background-color: #fff;
	color: #444;
}
.box {
	background-color: #444;
	color: #fff;
	font-size: 150%;
}

.header {
	background-color: #999;
}

/* my addition to the code start */
#colour-picker{
	grid-area: colourP;
}

#stamp-spread-size {
	display: none;
}

#stamp-spread-size-label {
	display: none;
}

#stamps{
	display: flex;
	max-width: 40%;
	margin: 0 auto;
	justify-content: space-between;
	user-select: none;
}
/* layers gui start */
#layers-menu{
	display: inline-block;
	position:relative;
}

#layers-menu-content{
	display: none;
	right: 0;
	background-color: #f9f9f9;
	min-width: 160px;
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
	z-index: 1;
}

.layers-menu-elements{
	background-color: #444;
	display: inline-flex;
}

.layers-menu-elements button{
	color: black;
	padding: 10px 16px;
	text-decoration: none;
}

#new-layer-button{
	order: -2;
}
#delete-layer-button{
	order: -1;
}

#layers-menu-content .layers-menu-elements button:hover{background-color: #f1f1f1;}
#layers-menu:hover #layers-menu-content{display: grid;}
/* layers gui end */
/* my addition to the code end */